For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.
1.	 Start by creating a new Notebook for this assignment.
2.	 Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [ ]:
conda install -c conda-forge wikipedia # To install wikipedia library using/issue command conda !

In [ ]:
conda install -c conda-forge lxml # To install lxml library using/issue command conda !

In [15]:
# Import all library needed.
import pandas as p_d 
import wikipedia as w_p
from bs4 import BeautifulSoup

In [16]:
# load Wikipedia page.
html_page = w_p.page("List of postal codes of Canada: M").html().encode("UTF-8")

In [17]:
# select  index of a table
data_frame = p_d.read_html(html_page, header = 0)[0]

In [18]:
# process the cells that have an assigned borough only . Ignore all cells with a borough which is Not assigned.
data_frame = data_frame[data_frame.Borough != 'Not assigned']

In [19]:
# existing in one postal code area.
data_frame = data_frame.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(list).apply(lambda x:', '.join(x)).to_frame().reset_index()

In [20]:
# sorting 9th cell in the table on the Wikipedia page.
for index, row in data_frame.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']

In [21]:
# showing the table after complated processing.
data_frame

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [23]:
# using shape method to print the number of rows dataframe.
data_frame.shape

(103, 3)